<div class="d-flex flex-column vh-100">

  <header class="bg-primary text-white p-3 d-flex justify-content-between align-items-center">
    <h4 class="m-0">{{userName}} - {{userRole}}</h4>
    <button class="btn btn-sm btn-outline-light" (click)="logout()">Logout</button>
  </header>

  <div class="d-flex flex-grow-1 overflow-hidden">

    <nav class="bg-dark text-white p-3" style="width: 220px;">
      <h5 class="text-white">Navigation</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white">Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addproduct" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white">Add Product</a>
        </li>
        <li class="nav-item">
          <a routerLink="/signal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white">Signal</a>
        </li>
        <li class="nav-item">
          <a routerLink="/userform" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white">Add User Form Array</a>
        </li>
      </ul>
    </nav>

    <div class="flex-grow-1 overflow-auto p-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>