<!-- <ng-container *ngIf="products | async as products"> -->
<!-- <app-generic-list
  [title]="'Product List'"
  [addBtn]="'Add Product'"
  [data]="products"
  [columns]="columns"
  [addComponent]="addComponent"
  [totalCount]="totalCount"
  [pageNumber]=" pageNumber"
  [pageSize]="pageSize"
  [searchText]="searchText"
  (refresh)="loadProducts()"
  (search)="onSearch($event)"
  (pageChange)="onPageChange($event)"
  (priceFilter)="onPriceFilter($event)"
  >
  </app-generic-list> -->
<!-- </ng-container> -->


<!-- Add scroll event and proper structure -->
<!-- <div class="scroll-wrapper" (scroll)="onScroll()" #scrollContainer>
  <div class="product-container">
    <div class="d-flex flex-column">
      <div *ngFor="let product of products">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ product.productname }}</mat-card-title>
            <mat-card-subtitle>{{ product.productdesc }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ product.productprice }}</p>
            <p>Qty: {{ product.productquantity }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onEditClicked(product)">EDIT</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading">Loading...</div>
    <div *ngIf="allLoaded" class="end">No more products.</div>
  </div>
</div> -->

<!-- show product on load clicked -->
<div class="scroll-wrapper" >
  <div class="product-container">
    <div class="d-flex flex-column">
      <div *ngFor="let product of products">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ product.productname }}</mat-card-title>
            <mat-card-subtitle>{{ product.productdesc }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ product.productprice | formatCurrencyCompactPipe }}</p>
            <p>Qty: {{ product.productquantity }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onEditClicked(product)" >Edit</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!allLoaded" (click)="loadMoreClicked()">Load More</div>
    <div *ngIf="isLoading" class="loading">Loading...</div>
    <div *ngIf="allLoaded" class="end">No more products.</div>
  </div>
</div>

