<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
    <div>
      <h1 *ngIf="title">{{ title }}</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">

      <mat-form-field appearance="outline" class="me-2" floatLabel="auto">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" (keyup)="onSearch($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div>
        <app-generic-btn
          [label]="'Add Product'"
          [icon]="'add'"
          [color]="'primary'"
          [type]="'button'"
          [variant]="'mat-raised-button'"
          [matBtnType]="'filled'"
          (clicked)="openAddDialog()"
        >
        </app-generic-btn>
      </div>

    </div>
  </div>

  <table mat-table [dataSource]="data" matSort class="mat-elevation-z8 mat-table" *ngIf="data.length">
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.header }}</th>
      <td mat-cell *matCellDef="let row">{{ row[col.key] }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 240px;">Actions</th>
      <td mat-cell *matCellDef="let row" class="text-center">

        <app-generic-btn
          [label]="'Edit'"
          [icon]="'edit'"
          [color]="'primary'"
          [type]="'button'"
          [variant]="'mat-raised-button'"
          [matBtnType]="'filled'"
          (clicked)="openEditDialog(row)"
          class="me-2"
        >
        </app-generic-btn>

        <app-generic-btn
          [label]="'Delete'"
          [icon]="'delete'"
          [color]="'primary'"
          [type]="'button'"
          [variant]="'mat-raised-button'"
          [matBtnType]="'filled'"
          (clicked)="openEditDialog(row)"
          class="me-2"
        >
        </app-generic-btn>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber-1"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="pageChange.emit($event)"
  >
  </mat-paginator>

  <div *ngIf="!data.length" class="text-center text-muted">No data available.</div>
</div>
